<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Hant.Web</title>
    @Styles.Render("~/Content/layui/src/css/layui.css")
    @Styles.Render("~/Content/_Layout.css")
</head>
<body class="layui-layout-body" style="background-color:#e2e2e2;">
    <div id="menu" class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Hant多多</div>
            <ul class="layui-nav layui-layout-left" v-html="leftmenuhtml"> </ul>
            <ul class="layui-nav layui-layout-right" v-if="isDengLu" v-html="rightmenuhtml"></ul>
            <ul class="layui-nav layui-layout-right" v-else="isDengLu">
                <li class=" layui-nav-item">
                    <a id="menu_zhuce_01" name="menu" href="#">注册</a>
                </li>
                <li class=" layui-nav-item">
                    <a id="menu_denglu_01" name="menu" href="#">登录</a>
                </li>
            </ul>
        </div>

        <div class="layui-layout" style="background-color:#FFF;">
            <hr>
            <div class="layui-fluid" style="margin: 0px 20px 0px 20px;" v-html="navmenuhtml">
            </div>
            <hr>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/layui/src/layui.js")
    @Scripts.Render("~/Scripts/vue.js")
    @Scripts.Render("~/Scripts/Config.js")
    @Scripts.Render("~/Scripts/Tool.js")
    @Scripts.Render("~/Scripts/_Layout.js")
    <div class="layui-layout">
        @Html.Partial("~/Views/Shared/LeftMenu.cshtml")
        <div id="RightContent" class="layui-inline" style="background-color: #fff;float: left; margin-left: 10px; width: calc(100% - 220px);overflow:auto;">
            @RenderBody()
        </div>
        <div class="layui-footer" style="left:0px;text-align:center;">
            XXXXX提供技术支持
        </div>
    </div>
    <script type="text/html" id="Tplbar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="TplStatus">
        <input type="checkbox" name="Status" value="{{d.ID}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="TplStatus" {{ d.Status == 1 ? "checked" : "" }}>
    </script>
    <script type="text/html" id="Tpltoolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>
    <script type="text/html" id="TplAdd">
        <div id="add_html">
            <div class="hant-site-block">
                <div class="layui-tab layui-tab-card">
                    <div class="layui-form">
                        {{# layui.each(d.list,function(index,item){ }}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{{item.title}}</label>
                            <div class="layui-input-block">
                                <input name="{{item.name}}" type="{{item.type}}" placeholder="请输入{{item.title}}" class="layui-input">
                            </div>
                        </div>
                        {{# }); }}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button lay-submit lay-filter="AddButton" class="layui-btn">提交</button>
                                <button id='add_quxiao_1' class="layui-btn layui-btn-primary">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="TplEdit">
        <div id="add_html">
            <div class="hant-site-block">
                <div class="layui-tab layui-tab-card">
                    <div class="layui-form">
                        {{# layui.each(d.list,function(index,item){ }}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{{item.title}}</label>
                            <div class="layui-input-block">
                                <input name="{{item.name}}" value="{{item.value}}" type="{{item.type}}" placeholder="请输入{{item.title}}" class="layui-input">
                            </div>
                        </div>
                        {{# }); }}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button lay-submit lay-filter="EditButton" class="layui-btn">提交</button>
                                <button id='add_quxiao_1' class="layui-btn layui-btn-primary">取消</button>
                                <input hidden name="ID" value="{{d.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="TplDel">
        {{# }}
    </script>
    <script type="text/html" id="TplView">
        {{# }}
    </script>
</body>
</html>
